body {
  font-family: 'Playfair Display', serif;
  margin: 0 auto;
  width: 100%; }

.header-section {
  background-image: url("img/put-your-image-here(5).png");
  padding-bottom: 850px;
  background-size: 100% 100%;
  position: relative; }
  .header-section .top-header {
    padding-top: 30px; }
  .header-section .layer {
    background-color: rgba(9, 5, 47, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 300px; }
  .header-section .menu {
    padding-top: 15px;
    padding-bottom: 185px; }
    .header-section .menu ul li {
      display: inline-block;
      padding-right: 10px; }
      .header-section .menu ul li a {
        color: #fff;
        font-family: "Roboto";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.33px;
        text-decoration: none; }
        .header-section .menu ul li a:hover {
          color: #00e0d0;
          cursor: pointer;
          transition: 0.5s; }
  .header-section .logo {
    cursor: pointer; }
    .header-section .logo p {
      font-family: 'Roboto', sans-serif;
      color: #00e0d0;
      font-size: 30px;
      font-weight: 200;
      display: inline-block; }
  .header-section .main-header {
    text-align: center; }
    .header-section .main-header h3 {
      color: #ffffff;
      font-family: "Playfair Display";
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 0.32px;
      padding-bottom: 10px; }
    .header-section .main-header h5 {
      color: #ffffff;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.7px;
      margin-bottom: 55px; }
    .header-section .main-header p {
      color: #00e0d0;
      font-family: 'Hammersmith One', sans-serif;
      font-size: 16px;
      font-weight: 200;
      text-transform: uppercase;
      border: 1px solid #00e0d0;
      display: inline;
      padding: 10px; }
      .header-section .main-header p:hover {
        cursor: pointer;
        color: #fff;
        border: 1px solid #fff;
        transition: 0.5s; }
    .header-section .main-header img {
      padding-bottom: 15px; }

.story {
  padding-top: 70px;
  padding-bottom: 85px; }
  .story h3 {
    margin-top: 0;
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.1px;
    padding-bottom: 10px; }
  .story h5 {
    opacity: 0.75;
    color: #413d4b;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.42px;
    margin-bottom: 45px; }
  .story p {
    color: #00e0d0;
    font-family: "Hammersmith One";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    display: inline;
    padding: 10px; }
    .story p:hover {
      color: #fff;
      background-color: #00e0d0;
      cursor: pointer;
      transition: .6s; }
  .story .figure img {
    padding-bottom: 40px;
    cursor: pointer; }

.section-watch {
  background-image: url("img/town.png");
  padding-bottom: 550px;
  position: relative; }
  .section-watch .layer {
    background-color: rgba(9, 5, 47, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 400px; }
  .section-watch .watch-content {
    text-align: center; }
    .section-watch .watch-content img {
      padding-top: 180px;
      padding-bottom: 25px;
      cursor: pointer; }
    .section-watch .watch-content h4 {
      color: #fff;
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.8px; }
      .section-watch .watch-content h4:hover {
        color: #00e0d0;
        cursor: pointer;
        transition: 0.5s; }

.section-expertise {
  text-align: center;
  padding-top: 72px;
  padding-bottom: 101px; }
  .section-expertise .expertise-icons h4 {
    color: #413d4b;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    padding-bottom: 15px; }
  .section-expertise .expertise-icons p {
    opacity: 0.75;
    color: #333333;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.7px; }
  .section-expertise .expertise-icons img {
    padding-top: 60px;
    padding-bottom: 20px;
    cursor: pointer; }
  .section-expertise .expertise-header h3 {
    margin-top: 0;
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.1px;
    padding-bottom: 10px; }
  .section-expertise .expertise-header p {
    opacity: 0.75;
    color: #2f2d35;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.05px; }
  .section-expertise .expertise-header img {
    margin-top: 20px;
    padding-bottom: 40px; }

.section-team {
  background-image: url("img/newtree.png");
  position: relative;
  padding-bottom: 800px;
  text-align: center; }
  .section-team h3 {
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px;
    padding-top: 50px;
    padding-bottom: 10px; }
  .section-team p {
    color: #f9f9f9;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px;
    padding-bottom: 15px; }
  .section-team .layer {
    background-color: rgba(9, 5, 47, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 400px; }
  .section-team .team-content h4 {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    padding-top: 10px; }
  .section-team .team-content p {
    opacity: 0.7;
    color: #fafafa;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300; }
  .section-team .team-content img {
    padding-top: 55px; }
    .section-team .team-content img:hover {
      opacity: 0.2;
      transition: 0.5s;
      cursor: pointer; }
  .section-team .team-content .team-border {
    border: 1px solid #e1e1e1;
    margin-right: 18px;
    margin-left: 18px; }
  .section-team .bottom-team p {
    color: #f3f3f3;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.7px;
    padding-bottom: 30px;
    padding-top: 70px; }
  .section-team .bottom-team h4 {
    color: #00e0d0;
    font-family: "Hammersmith One";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    display: inline;
    padding: 15px; }
    .section-team .bottom-team h4:hover {
      color: #fff;
      cursor: pointer;
      transition: 0.5s;
      background-color: #00e0d0; }

.section-works {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 70px; }
  .section-works h3 {
    padding-bottom: 60px;
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px; }
  .section-works .row {
    margin: 0; }
  .section-works .col-lg-2 {
    padding: 0; }
  .section-works .photo .photo-img img {
    padding: 0;
    width: 100%;
    cursor: pointer; }
    .section-works .photo .photo-img img:hover {
      opacity: 0.5;
      transition: .5s; }
  .section-works .load {
    padding-top: 90px;
    padding-bottom: 40px; }
    .section-works .load h4 {
      border: 1px solid #00e0d0;
      color: #00e0d0;
      font-family: "Hammersmith One";
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      display: inline;
      padding: 15px 28px; }
      .section-works .load h4:hover {
        background-color: #00e0d0;
        color: #fff;
        cursor: pointer;
        transition: 0.5s; }

.section-comment {
  background-image: url("img/newnewtree1.png");
  padding-bottom: 550px;
  position: relative;
  text-align: center;
  padding-top: 70px; }
  .section-comment .layer {
    background-color: rgba(9, 5, 47, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 600px; }
  .section-comment h3 {
    opacity: 0.9;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 100px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 3px;
    padding-top: 70px; }
  .section-comment p {
    opacity: 0.85;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
    padding-bottom: 42px; }
  .section-comment h4 {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.7px; }
  .section-comment h5 {
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 35px; }
  .section-comment ul li {
    display: inline-block;
    padding: 15px;
    cursor: pointer; }

.section-form {
  padding-top: 40px;
  padding-bottom: 70px; }
  .section-form .row {
    margin-left: 0;
    margin-right: 0; }
  .section-form h3 {
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px;
    padding-bottom: 25px; }
  .section-form .contact-form {
    padding: 0 15px; }
    .section-form .contact-form form input {
      width: 80%;
      margin-bottom: 20px;
      padding-left: 21px;
      padding-top: 8px;
      padding-bottom: 8px; }
    .section-form .contact-form form textarea {
      width: 80%;
      margin-bottom: 40px;
      padding-left: 21px;
      padding-top: 8px;
      padding-bottom: 8px; }
    .section-form .contact-form h4 {
      color: #00e0d0;
      font-family: "Hammersmith One";
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      border: 1px solid #00e0d0;
      display: inline;
      margin: 0;
      padding: 15px 42px;
      margin-top: 20px;
      margin-bottom: 30px; }
      .section-form .contact-form h4:hover {
        background-color: #00e0d0;
        color: #fff;
        cursor: pointer;
        transition: 0.5s; }
  .section-form .happy-clients {
    text-align: center;
    padding-right: 0; }
    .section-form .happy-clients img {
      padding-bottom: 40px;
      padding-top: 10px;
      cursor: pointer; }
    .section-form .happy-clients .bilabong img {
      padding-top: 0; }

.section-footer {
  background-image: url("img/newnewfooter.png");
  position: relative;
  padding-bottom: 450px; }
  .section-footer .layer {
    background-color: rgba(9, 5, 47, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 200px; }
  .section-footer .tajam-footer {
    padding-top: 60px; }
    .section-footer .tajam-footer h4 {
      color: #ffffff;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0.35px;
      padding-top: 15px; }
    .section-footer .tajam-footer ul li {
      display: inline-block; }
    .section-footer .tajam-footer .logo-footer {
      cursor: pointer;
      padding-top: 20px; }
      .section-footer .tajam-footer .logo-footer p {
        font-family: 'Roboto', sans-serif;
        color: #00e0d0;
        font-size: 30px;
        font-weight: 200;
        display: inline-block; }
    .section-footer .tajam-footer .middle-footer {
      margin-left: 30px; }
      .section-footer .tajam-footer .middle-footer h4 {
        color: #ffffff;
        font-family: "Roboto";
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.75px; }
      .section-footer .tajam-footer .middle-footer .location {
        padding-top: 25px; }
        .section-footer .tajam-footer .middle-footer .location h5 {
          display: inline;
          color: #ffffff;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: 0.35px; }
        .section-footer .tajam-footer .middle-footer .location img {
          padding-right: 10px; }
      .section-footer .tajam-footer .middle-footer .tel {
        padding-top: 25px; }
        .section-footer .tajam-footer .middle-footer .tel img {
          padding-right: 10px; }
        .section-footer .tajam-footer .middle-footer .tel p {
          color: #ffffff;
          font-family: Roboto;
          font-size: 14px;
          font-weight: 300;
          line-height: 26px;
          letter-spacing: 0.35px;
          display: inline;
          padding-top: 20px; }
    .section-footer .tajam-footer .last-footer h4 {
      color: #ffffff;
      font-family: "Roboto";
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      text-transform: uppercase;
      letter-spacing: 0.75px;
      padding-bottom: 30px; }
    .section-footer .tajam-footer .last-footer p {
      opacity: 0.75;
      color: #ffffff;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0.7px;
      border: 1px solid #ffffff;
      opacity: 0.5;
      padding: 17px;
      display: inline; }
    .section-footer .tajam-footer .last-footer img {
      cursor: pointer; }
    .section-footer .tajam-footer .last-footer .footer-icons {
      display: block;
      color: #fff;
      padding-top: 30px; }
      .section-footer .tajam-footer .last-footer .footer-icons i {
        border: 1px solid #ffffff;
        text-align: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 20px;
        line-height: 40px;
        margin-right: 10px; }
        .section-footer .tajam-footer .last-footer .footer-icons i:hover {
          background-color: #00e0d0;
          color: #fff;
          cursor: pointer;
          transition: 0.5s;
          border: 1px solid #00e0d0; }
    .section-footer .tajam-footer .last-footer img {
      border: 2px solid #ffffff;
      background-color: #ffffff;
      opacity: 0.5;
      padding: 12px 25px;
      margin-left: 15px; }
  .section-footer .footer-bottom ul {
    padding-left: 0;
    padding-top: 82px; }
    .section-footer .footer-bottom ul li {
      display: inline-block;
      color: #ffffff;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.35px;
      padding-right: 5px; }
      .section-footer .footer-bottom ul li:hover {
        color: #00e0d0;
        cursor: pointer;
        transition: .5s; }
  .section-footer .footer-copyright p {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.35px;
    padding-top: 82px;
    text-align: right; }
    .section-footer .footer-copyright p:hover {
      color: #00e0d0;
      cursor: pointer;
      transition: .5s; }

@media (min-width: 992px) and (max-width: 1199px) {
  .figure {
    text-align: center; }

  .section-team {
    padding-bottom: 1080px; }
    .section-team .bottom-team p {
      padding-top: 35px;
      clear: both; }
    .section-team .team-content .team-border {
      margin-right: 110px;
      margin-left: 110px; }

  .section-form .contact-form h4 {
    display: block;
    width: 15%;
    margin-bottom: 30px;
    margin-top: 10px; }
  .section-form .happy-clients {
    text-align: center; }

  .section-footer {
    padding-bottom: 650px; }
    .section-footer .last-footer {
      text-align: center; }
    .section-footer .tajam-footer {
      text-align: center; }
    .section-footer .middle-footer {
      text-align: center; }

  .logo-section {
    text-align: center; } }
@media (min-width: 768px) and (max-width: 991px) {
  .top-header .logo {
    text-align: center;
    padding-bottom: 40px; }
  .top-header .logo-section {
    text-align: center; }

  ul {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }

  .story {
    text-align: center; }

  .section-team {
    padding-bottom: 1080px; }
    .section-team .bottom-team p {
      padding-top: 35px;
      clear: both; }
    .section-team .team-content .team-border {
      margin-right: 55px;
      margin-left: 55px; }

  .happy-clients h3 {
    margin-top: 50px; }

  .section-footer {
    padding-bottom: 650px; }
    .section-footer .last-footer {
      text-align: center; }
    .section-footer .tajam-footer {
      text-align: center; }
    .section-footer .middle-footer {
      text-align: center; } }
@media (max-width: 767px) {
  .top-header .logo {
    text-align: center;
    padding-bottom: 30px; }
  .top-header .logo-section {
    text-align: center; }
  .top-header .menu ul {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; }
    .top-header .menu ul li {
      display: block;
      padding-bottom: 15px;
      font-size: 14px; }

  .story {
    text-align: center; }

  .section-team {
    padding-bottom: 900px; }
    .section-team .bottom-team p {
      padding-top: 35px;
      clear: both; }
    .section-team .team-content .team-border {
      border: 0 none;
      margin: 0; }
    .section-team .team-content img {
      width: 50%;
      padding-top: 15px; }

  .section-comment {
    padding-bottom: 1010px; }
    .section-comment ul {
      padding: 0 15px; }
      .section-comment ul li {
        display: block; }
    .section-comment h5 {
      padding-bottom: 10px; }

  .arrows img {
    transform: rotate(90deg); }

  .happy-clients h3 {
    margin-top: 50px; }

  .section-footer {
    padding-bottom: 950px; }
    .section-footer .tajam-footer {
      text-align: center; }
      .section-footer .tajam-footer .middle-footer {
        text-align: center;
        margin-left: 0; }
        .section-footer .tajam-footer .middle-footer .location {
          padding-top: 0; }
        .section-footer .tajam-footer .middle-footer .tel {
          padding-top: 10px; }
      .section-footer .tajam-footer .last-footer {
        text-align: center; }
        .section-footer .tajam-footer .last-footer h4 {
          padding-bottom: 10px;
          padding-top: 45px; }
        .section-footer .tajam-footer .last-footer img {
          margin-left: 0; }
        .section-footer .tajam-footer .last-footer .footer-icons i {
          margin-right: 5px; }
      .section-footer .tajam-footer .logo-footer {
        padding-top: 0; }
        .section-footer .tajam-footer .logo-footer h4 {
          padding-top: 15px;
          padding-bottom: 0; }
    .section-footer .footer-bottom {
      text-align: center; }
    .section-footer .footer-copyright p {
      text-align: center;
      padding-top: 22px; }

  .logo-section {
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
