body {
	font-family: 'Playfair Display', serif;
	margin: 0 auto;
	width: 100%;
}

.header-section {
	background-image: url("img/put-your-image-here(5).png");
	padding-bottom: 950px;
	position: relative;
	.top-header {
		padding-top: 30px;
	}
	.layer {
		background-color: rgba(9, 5, 47, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-bottom: 300px
	}
	.menu {
		padding-top: 15px;
		padding-bottom: 185px;
		ul {	
			li {
				display: inline-block;
				padding-right: 10px;
				a {
					color: #fff;
					font-family: "Roboto";
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0.33px;
					text-decoration: none;
					&:hover {
						color: #00e0d0;
						cursor: pointer;
						transition: 0.5s;
					}	
				}
			}
		}
	}
	.logo {
		p {
			font-family: 'Roboto', sans-serif;
			color: #00e0d0;
			font-size: 30px;
			font-weight: 200;
			display: inline-block;
		}	
	}
	.main-header {
		text-align: center;
		h3 {
			color: #ffffff;
			font-family: "Playfair Display";
			font-size: 32px;
			font-weight: 400;
			letter-spacing: 0.32px;
			padding-bottom: 10px;
		}
		h5 {
			color: #ffffff;
			font-family: 'Roboto';
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
			letter-spacing: 0.7px;
			margin-bottom: 55px;
		}	
		p {
			color: #00e0d0;
			font-family: 'Hammersmith One', sans-serif;
			font-size: 16px;
			font-weight: 200;
			text-transform: uppercase;
			border: 1px solid #00e0d0;
			display: inline;
			padding: 10px;
			&:hover {
				cursor: pointer;
				color: #fff;
				border: 1px solid #fff;
				transition: 0.5s;
			}
		}
		img {
			padding-bottom: 15px;
		}
	}
}

.story {
	padding-top: 70px;
	padding-bottom: 85px;
	h3 {
		margin-top: 0;
		color: #413d4b;
		font-family: "Playfair Display";
		font-size: 22px;
		font-weight: 600;
		letter-spacing: 1.1px;
		padding-bottom: 10px;
	}
	h5 {
		opacity: 0.75;
		color: #413d4b;
		font-family: Roboto;
		font-size: 14px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0.42px;
		margin-bottom: 45px;
	}
	p {
		color: #00e0d0;
		font-family: "Hammersmith One";
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
		border: 1px solid #00e0d0;
		display: inline;
		padding: 10px;
		&:hover {
			color: #fff;
			background-color: #00e0d0;
			cursor: pointer;
			transition: .6s;
		}
	}
}

